@import url('https://fonts.googleapis.com/css2?family=Anton&family=Zilla+Slab:wght@300&display=swap');

:root {
    --primary-color: #5a6650;
    --secondary-color: #12543b;
    --accent1-color: #b4f8f7;
    --accent2-color: #85c197;

    --heading-font: 'Anton', sans-serif;
    --paragraph-font: 'Zilla Slab', serif;

    --nav-background-color: #5a6650;
    --nav-link-color: #f4f3ee;
    --nav-hover-link-color: #9af5f3;
    --nav-hover-background-color: #718064;
}
body {
    font-family: var(--paragraph-font);
    padding: 20px;
}
h1 {
    position: absolute;
    top: 50px;
    left: 370px;
    font-size: 60px;
    font-style: italic;
}
article {
    position: absolute;
    background: white;
    opacity: 0.8;
    top: 400px;
}
article p {
    color: black;
}
article img {
    float: right;
    max-width: 300px;
    opacity: 1;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
p {
    padding: 25px;
    color: var(--primary-color);
}
header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 20px;
    background-color: var(--accent1-color);
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    background-color: var(--nav-background-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
figure {
    border: thin var(--secondary-color) solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent2-color);
}
footer p {
    text-align: center;
    flex-grow: 1;
    color: rgb(0, 0, 0);
}
footer img {
    width: 62px;
}

/* Class Selectors below */

.hero {
    position: relative;
    margin-top: 15px;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.history {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: black solid 1px;
    background-color: var(--accent1-color);
    margin-top: 15px;
    margin-bottom: 15px;
}
.history-pi {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
}
.history img {
    align-self: center;
    max-width: 100%;
    margin-bottom: 10px;
}
.adventure-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 1px var(--secondary-color) solid;
    padding: 1rem;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: var(--accent1-color);
}
.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 1rem;
}