@import url('https://fonts.googleapis.com/css2?family=Anton&family=Zilla+Slab:wght@300&display=swap');

:root {
    --primary-color: #5a6650;
    --secondary-color: #12543b;
    --accent1-color: #b4f8f7;
    --accent2-color: #85c197;

    --heading-font: 'Anton', sans-serif;
    --paragraph-font: 'Zilla Slab', serif;

    --nav-background-color: #5a6650;
    --nav-link-color: #f4f3ee;
    --nav-hover-link-color: #9af5f3;
    --nav-hover-background-color: #718064;
}
body {
    font-family: var(--paragraph-font);
    padding: 20px;
}
h1 {
    font-size: 60px;
    font-style: italic;
    text-align: center;
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
article {
    position: absolute;
    background: white;
    opacity: 0.8;
    top: 400px;
}
article p {
    color: black;
}
article img {
    float: right;
    max-width: 300px;
    opacity: 1;
}
h2, legend {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-align: center;
    font-size: 30px;
}
p {
    padding: 25px;
    color: var(--primary-color);
}
header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 20px;
    background-color: var(--accent1-color);
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    background-color: var(--nav-background-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
figure {
    border: thin var(--secondary-color) solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent2-color);
}
footer p {
    text-align: center;
    flex-grow: 1;
    color: rgb(0, 0, 0);
}
footer img {
    width: 62px;
}
figure {
    background-color: var(--accent1-color);
    border-radius: .5rem;
    font-style: italic;
    font-size: 22px;
}
form {
    display: grid;
    border: 1px solid var(--secondary-color);
    border-radius: .3rem;
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--accent1-color);
}
fieldset {
    display: grid;
    grid-gap: .7rem;
    padding: 1rem;
    border: 1px solid var(--secondary-color);
    margin: 1rem;
}
label {
    text-align: right;
    padding-right: 10px;
}
input, textarea {
    padding: .5rem;
    font-size: 1.1rem;
    max-width: 180px;
    margin: 0 auto;
}
input[type="checkbox"] {
    width: 13px;
    height: 13px;
}
button {
    margin: 1rem;
    padding: .75rem;
    font-size: 1.1rem;
    max-width: 200px;
    border-radius: .5rem;
    margin: 0 auto;
    background-color: var(--nav-background-color);
    color: white;
}
button:hover {
    background-color: var(--nav-hover-background-color);
}

/* Class Selectors below */

.hero {
    position: relative;
    margin-top: 15px;
}
.hero h1 {
    position: absolute;
    top: 50px;
    left: 370px;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.history {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: black solid 1px;
    background-color: var(--accent1-color);
    margin-top: 15px;
    margin-bottom: 15px;
}
.history-pi, .employee-bios {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding-bottom: 20px;
}
.history img {
    align-self: center;
    max-width: 100%;
    margin-bottom: 10px;
}
.adventure-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 1px var(--secondary-color) solid;
    padding: 1rem;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: var(--accent1-color);
}
.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 1rem;
}
.company-info {
    display: grid;
    font: var(--paragraph-font);
    border: 2px solid var(--primary-color);
    border-radius: .3rem;
    text-align: center;
    width: 50%;
    margin: 30px auto;
    background-color: var(--accent1-color);
}
.company-info-content {
    font-size: 20px;
}
.map {
    width:100%;
    max-width: 600px;
    height: 600px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.map iframe {
    width: 100%;
    height: 100%;
}
.employee-profile {
    border-top: 1px solid var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}
.identity {
    grid-template-columns: 1fr 2fr;
    margin: 0 auto;
}
.purpose-of-message, label[for="message"] {
    text-align: center;
}